/* this is a comment in css */

h6
{
    background-color: darkgray;
    color: aqua;
}

#hi{
    background-color: red;
    color: aliceblue;
    text-align: center;
}

.cl{
    background-color: black;
    color: aliceblue;
}

p{
    color: red;
}

aside,article{
    background-color: blue;
    color: white;
    font-size: larger;
}

#bm7{
    background-color: aqua;
    /* border-style: solid;
    border-width: 2px;
    border-color: brown; */
    /* border-radius: 5px; */
    /* border-left: brown solid 3px; */
    /* border-top-right-radius: 14px; */
    /* border-bottom-right-radius: 14px;    */
    width: 220px;
    border-radius: 50px;
    border: black solid 2px;    
}

.z{
    color: black;
    border: wheat solid 2px;
    border-left-color: black;
    border-left-width: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 700px;
    
    margin: 10px 15px 30px 0px;
    /* top-right-bottom-left */
    padding: 5px 20px;
    /* (top,bottom),(left,right) */
    box-sizing: border-box;
}

